.cards {
    @media (min-width:980px){
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 20px;
        @media (min-width:980px){
            width: 100%;
            max-width: 300px;
        }
    }

    &__image {
        width: 100%;
        min-height: 170px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #969696;
    }

    &__body {
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
    }

    &__title {
        font-size: 18px;
        margin: 0px 0px 10px 0px;
        font-weight: 700;
        text-transform: uppercase;
    }
}