.header {
    background-color: #fff;
    margin-bottom: 20px;
    @media (min-width:980px){
        margin-bottom: 0;
    }

    &__body {
        height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.language-switcher {
    display: flex;
    margin: 0 -5px;

    &__link {
        font-size: 12px;
        padding: 5px 10px;
        margin: 0px 5px;
        background-color: #f7f7f7;
        ;
        border-radius: 6px;
        color: #5f5f5f;

        &--active {
            background-color: #5f5f5f;
            color: #fff;
        }
    }
}